/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:monospace;
}

body{
  overflow:hidden;
  background:#000;
  color:white;
}

#game{
  width:100vw;
  height:100vh;
  position:relative;
  background:
    radial-gradient(circle at center,#1c1c1c 0%,#050505 70%);
}

#grain{
  position:fixed;
  inset:0;
  opacity:0.08;
  background-image:
    repeating-radial-gradient(
      circle,
      #fff 0px,
      transparent 1px
    );
  pointer-events:none;
  z-index:50;
}

#vignette{
  position:fixed;
  inset:0;
  background:
    radial-gradient(
      circle,
      transparent 40%,
      rgba(0,0,0,0.8) 100%
    );
  pointer-events:none;
  z-index:49;
}

#flash{
  position:fixed;
  inset:0;
  background:white;
  opacity:0;
  pointer-events:none;
  z-index:100;
}

#hud{
  position:absolute;
  top:20px;
  left:20px;
  right:20px;
  display:flex;
  justify-content:space-between;
  z-index:10;
}

.panel{
  background:rgba(0,0,0,0.75);
  border:2px solid #ff2d2d;
  padding:15px;
  width:240px;
  box-shadow:0 0 20px rgba(255,0,0,0.25);
}

.title{
  color:#ff5555;
  margin-bottom:8px;
  font-size:24px;
}

.health{
  font-size:20px;
}

#room{
  position:absolute;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

#light{
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  width:700px;
  height:700px;
  background:
    radial-gradient(
      circle,
      rgba(255,220,120,0.25),
      transparent 70%
    );
}

#dealer{
  position:absolute;
  top:120px;
  width:300px;
  height:500px;
}

#dealerHead{
  width:140px;
  height:140px;
  background:#0c0c0c;
  border-radius:50%;
  margin:auto;
  position:relative;
  box-shadow:
    0 0 40px rgba(255,0,0,0.3);
}

.eye{
  width:20px;
  height:20px;
  border-radius:50%;
  background:red;
  position:absolute;
  top:50px;
  box-shadow:
    0 0 20px red,
    0 0 40px darkred;
}

.eye.left{
  left:35px;
}

.eye.right{
  right:35px;
}

#dealerBody{
  width:220px;
  height:300px;
  background:#111;
  margin:auto;
  margin-top:-10px;
  clip-path:polygon(
    50% 0%,
    100% 100%,
    0% 100%
  );
}

#dealerArms{
  position:absolute;
  top:180px;
  left:50%;
  transform:translateX(-50%);
  width:340px;
  height:40px;
  background:#0b0b0b;
  border-radius:20px;
}

#table{
  position:absolute;
  bottom:120px;
  width:1000px;
  height:220px;
  background:
    linear-gradient(
      to bottom,
      #352515,
      #1a120d
    );
  border-top:8px solid #4d321e;
  box-shadow:
    0 -20px 50px rgba(0,0,0,0.8);
}

#shellContainer{
  position:absolute;
  left:50px;
  top:50px;
  display:flex;
  gap:14px;
}

.shell{
  width:38px;
  height:85px;
  border-radius:12px;
  border:3px solid #111;
}

.live{
  background:
    linear-gradient(
      to bottom,
      #ff5c5c,
      #8b0000
    );
  box-shadow:
    0 0 25px red;
}

.blank{
  background:
    linear-gradient(
      to bottom,
      #999,
      #444
    );
}

#shotgun{
  position:absolute;
  right:120px;
  top:80px;
  width:450px;
  height:70px;
  transition:0.1s;
}

#barrel{
  position:absolute;
  width:330px;
  height:28px;
  background:
    linear-gradient(
      to right,
      #777,
      #222
    );
  top:20px;
  left:0;
  border-radius:12px;
}

#stock{
  position:absolute;
  width:180px;
  height:60px;
  background:
    linear-gradient(
      to bottom,
      #5b3518,
      #2c1609
    );
  right:0;
  top:4px;
  border-radius:20px;
}

#controls{
  position:absolute;
  bottom:25px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:20px;
  z-index:10;
}

button{
  padding:16px 24px;
  font-size:18px;
  background:#111;
  color:white;
  border:2px solid #ff3333;
  cursor:pointer;
  transition:0.15s;
}

button:hover{
  background:#ff3333;
}

#messageBox{
  position:absolute;
  bottom:110px;
  left:50%;
  transform:translateX(-50%);
  width:800px;
  background:rgba(0,0,0,0.85);
  border:2px solid #ff3333;
  padding:15px;
  text-align:center;
  font-size:22px;
}

#gameOver{
  position:fixed;
  inset:0;
  background:black;
  display:none;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  z-index:999;
}

#deathFace{
  font-size:220px;
  color:red;
  text-shadow:
    0 0 30px red,
    0 0 90px darkred;
}

#gameOver h1{
  font-size:120px;
  color:red;
  text-shadow:
    0 0 25px red;
}

#restartBtn{
  margin-top:30px;
}